.slider-box {
    display: flex;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    min-width: 5em;
    justify-content: center;
    align-items: center;
}
.transparent {
    opacity: 0.3
}
